Source: osf-metapackages
Section: metapackages
Priority: optional
Maintainer: Ricardo Salveti <ricardo@opensourcefoundries.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Vcs-Git: https://source.foundries.io/metapackages.git
Vcs-Browser: https://source.foundries.io/metapackages.git

Package: zmp-dev
Architecture: all
Replaces: genesis-dev (<< 0.8)
Breaks: genesis-dev (<< 0.8)
Depends: bzip2,
         device-tree-compiler,
         cmake (>= 3.13.1),
         git,
         gcc,
         gcc-multilib,
         g++,
         g++-multilib,
         gperf,
         less,
         libc6-dev,
         libncurses5-dev,
         libtool,
         make,
         ninja-build,
         python3,
         python3-setuptools,
         python3-sphinx,
         python3-sphinx-rtd-theme,
         python3-ply,
         python3-yaml,
         python3-crypto,
         python3-ecdsa,
         python3-pyasn1,
         python3-pip,
         repo,
         sudo,
         ${misc:Depends}
Description: Zephyr microPlatform development metapackage
 This metapackage provides the dependencies required by Zephyr microPlatform.

Package: genesis-dev
Depends: zmp-dev, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
